// Below are scss variable which stores values and this variables is stored in below scss code
$primary-color: "green";

$font-weights:(
    "regular" : 400,
    "medium" : 500,
    "bold" : 700,
);

$mobile: 800px